<div class="friend col-md-12" id="friend-{{ id }}">
  <div class="highlight">
    <span>{{ screen_name }}</span>
  </div>
  <table class="summary">
    <colgroup>
      <col style="width:75%">
      <col style="width:25%">
    </colgroup>
    <tr>
      <td><img src="{{ profile_image_url }}" width="48" height="48"></td>
      <td><button class="button button-rounded button-flat-primary button-tiny user-info"><i class="fa fa-info"></i> More Info</button></td>
    </tr>
    <tr>
      <td>{{ name }}</td>
      <td><button class="button button-rounded button-flat-action button-tiny assign-user"><i class="fa fa-plug"></i> Assign </button></td>
    </tr>
  </table>
  <table class="details">
    <tr><td><a href="{{ url }}">{{ url }}</a></td></tr>
    <tr><td>Description: {{ description }}</td></tr>
    <tr><td>Followers: {{ followers_count }}</td></tr>
    <tr><td>Following: {{ friends_count }}</td></tr>
    <tr><td>Following Me? {{ following }}</td></tr>
  </table>
</div>
