.nav > li > a:hover, .nav > li > a:focus {
  background-color: $header;
}

.nav > li > a:hover {
  background-color: tint($header, 5%);
}

.nav li a.active {
  background-color: tint($header, 15%);
}
