$base: #C5EFF7;
$header: #2c3e50;
$bright_blue: #2D7BCC;
$dark_blue: #1C4D7F;
$dark_blue2: #204F7F;
$light_blue: #C5EFF7;
$cloudy: #ecf0f1;
$dark_cloudy: #D2D7D3;
$mygray: #ccc;
$dark_head: #757D75;
$flat_green: #8DB255;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "buttons";
@import url('http://fonts.googleapis.com/css?family=Roboto:300');

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: $base;
    margin: 0px 0px 20px 0px;
}

input {
  margin-bottom: 4px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
  color: $base;
  background-color: $dark_blue2;
  .text-center{
      text-align: center;
  }
}

@import 'pages';
@import 'friends';
@import '_override';
