.friend {
  border: 1px solid $mygray;
  padding: 15px;
  background: $cloudy;
  height: 125px;
  margin-bottom: 5px;
  .highlight {
    background-color: $dark_head;
    color: $dark_cloudy;
    padding-left: 4px;
    margin-bottom: 10px;
  }
  table.summary{
  }
  .details {
    display: none;
  }
}

.group {
  padding: 20px;
  background-color: $cloudy;
  border: 1px solid $mygray;
  margin-bottom: 30px;
  p {
    font-size: 1.3em;
  }
}

.hidden {
  display: none;
}
