.friend {
  border: 1px solid $mygray;
  padding: 15px;
  background: honeydew;
  p.highlight {
    background-color: $bright_blue;
    color: $cloudy;
    padding-left: 4px;
  }
  height: 125px;
  margin-bottom: 5px;
  .details {
    display: none;
  }
}