.friend {
  border: 1px solid $mygray;
  padding: 15px;
  background: $cloudy;
  p.highlight {
    background-color: $dark_head;
    color: $cloudy;
    padding-left: 4px;
  }
  height: 80px;
  margin-bottom: 5px;
  .details {
    display: none;
  }
}

.group {
  padding: 20px;
  background-color: $cloudy;
  border: 1px solid $mygray;
  margin-bottom: 30px;
  p {
    font-size: 1.3em;
  }
}
